body{
  max-width: 100%;
}

/*GENERALES*/
*{
  padding: 0px;
  margin: 0px;
  font-family: sans-serif, Helvetica, Arial;
}
/*HEADER*/


#logo{
  padding: 20px;
  margin-left: 20px;
  float:left;
}

/* #logo img{
  float:left;
  height: 100px;
} */

.float-right{
  float:right;

}

#particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: -1;
}

/*--------------------------------------------------------------
# Welcome 
--------------------------------------------------------------*/
#welcome {
  display: table;
  width: 100%;
  height: 100vh;
  background: url(../img/logo.jpg) top center fixed;
  background-size: cover;
  /* para poner sobre las partículas */
  position: relative;
  /* z-index: 99; */
  opacity: .85;
}

/* #welcome-informacion {
  display: table;
  width: 100%;
  height: 100vh;
  background: url(../img/logo.jpg) top center fixed;
  background-size: cover;
} */

#welcome .welcome-logo, #welcome-informacion .welcome-logo {
  margin: 20px;
}

#welcome .welcome-logo img, #welcome-informacion .welcome-logo img {
  max-width: 15%;
}

#welcome .welcome-container, #welcome-informacion .welcome-container {
  background: rgba(0, 0, 0, 0.6);
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

#welcome h1, #welcome-informacion h1 {
  font-family: 'Permanent Marker', cursive;
  margin: 30px 0 10px 0;
  font-size: 5rem;
  font-weight: 1000;
  line-height: 300px;
  text-transform: uppercase;
  color:#fafafa;
  z-index: 1;
}

html body div#particles.js section#welcome div.welcome-container div.wow.fadeIn h1{
  font-family: 'Permanent Marker', cursive;
}

@media (max-width: 768px) {
  #welcome h1, #welcome-informacion h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 28px;
    line-height: 36px;
  }
}

#welcome h2, #welcome-informacion h2 {
  color: #999;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  #welcome h2, #welcome-informacion h2 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  #welcome h2 .rotating, #welcome-informacion h2 .rotating {
    display: block;
  }
}

#welcome .rotating > .animated, #welcome-informacion .rotating > .animated {
  display: inline-block;
}

#welcome .actions a, #welcome-informacion .actions a {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
}

.btn-informacion-riesgos {
  /* #welcome .btn-informacion-riesgos, #welcome-informacion .btn-informacion-riesgos { */
  background: #007bff;
  border: 2px solid #007bff;
  color: #fff;
}

#welcome .btn-informacion-riesgos:hover, #welcome-informacion .btn-informacion-riesgos:hover {
  background: none;
  border: 2px solid #fff;
  color: #fff;
}

#welcome .btn-gestionar, #welcome-informacion .btn-gestionar {
  border: 2px solid #fff;
  color: #fff;
}

#welcome .btn-gestionar:hover, #welcome-informacion .btn-gestionar:hover {
  background: #007bff;
  border: 2px solid #007bff;
}

#logo a{
  float:left;
  font-size: 40px;
  letter-spacing: 4px;
  font-family: 'Open Sans', Helvetica, Arial;
  text-transform: uppercase;
  color: #01B1EA;
  font-weight: bold;
  text-decoration: none;
  margin-top: 18px;
  margin-left: 25px;
  text-shadow: 0px 2px 1px #222222;
  transition: all 300ms;
}

#logo a:hover{
  text-shadow: 0px 2px 1px #222222, 0px 0px 4px #01B1EA;
}

/* desktop first empezamos por el MQ más grande */

/* max-width:1024px */
@media screen and (min-width: 1024px){
  #header img{
    width: 120px;
    margin-right: 10px;
  }

  #header .title{
    /* color: #01B1EA; */
    text-shadow: 0px 2px 1px #222222;
    transition: all 300ms;
    font-size: 45px;
  }

  #header{
    /* height: 145px; */
    max-height: 444px;
    background: #F0F0F0;
  }
}



/* /////////////////////////////////////////////////////////////////////////// */
/* max-width:1024px */
@media screen and (max-width: 1024px){
  /* HEADER */

  #header{
    /* height: 145px; */
    max-height: 444px;
    background: #F0F0F0;
  }

#header img{
  width: 120px;
  margin-right: 10px;
}

#header .title{
  /* color: #01B1EA; */
  text-shadow: 0px 2px 1px #222222;
  transition: all 300ms;
  font-size: 45px;
}

.categorias{
  font-size: 16px;
}

.dropdown-item {
  padding-inline-start: 5px;
}


}
/* max-width:768px ------------------------------ */
@media screen and (max-width: 768px){
  /* HEADER */

  #header{
    /* height: 145px; */
    max-height: 444px;
    background: #F0F0F0;
  }

#header img{
  width: 120px;
  margin-right: 10px;
}

#header .title{
  /* color: #01B1EA; */
  text-shadow: 0px 2px 1px #222222;
  transition: all 300ms;
  font-size: 36px;
}

.categorias{
  font-size: 13px;
}

.dropdown-item {
  padding-inline-start: 181px;
}

footer {
  flex-direction:column;
    padding: 30px 10% 40px 10%;
}

footer p{
  text-align: center;
}

footer .autor {
  order:2;
}

footer .redes-sociales {
  order:1;
  margin-bottom: 20px;
}

footer .redes-sociales a{
  margin: 0px 20px;
}


}
/*CARRITO*/
.delete-carrito{
 width: 295px;
 float: left;
}

.button-delete{
  display: block;
  float: left;
  width: 100px;
}

.button-carrito{
  width: 115px;
  margin: 0px auto;
  text-align: center;
}

.total-carrito{
 width: 295px;
 float: right;
}

.total-carrito h3{
  display: block;
  float:left;
  margin-top: 5px;
}

.button-pedido{
  display: block;
  float: right;
  width: 100px;
}

.updown-unidades{
  width: 80px;
  margin: 0px auto;
}

.updown-unidades .button{
  display: block;
  width: 20px;
  float: left;
  padding:2px;
  margin: 7px;
}



/* max-width:480px ------------------------------ */

@media screen and (max-width: 480px){
  /* HEADER */

#header{
  /* height: 145px; */
  max-height: 444px;
  background: #F0F0F0;
}
  #header .title{
    /* color: #01B1EA; */
    text-shadow: 0px 2px 1px #222222;
    transition: all 300ms;
    font-size: 25px;
  }

#header img{
  width: 70px;
  margin-right: -3px;
  /* margin-left: -24px; */
}

.categorias{
  font-size: 13px;
}

.navbar-toggler-icon {
  width: 1em;
  height: 1em;
  content: "Categorias";
}

.navbar-toggler:not(:disabled):not(.disabled) {
  margin-top: 0px;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: #fff;
  padding: inherit;
}

.dropdown-item {
  padding-left: 77px;
}

/* .visible {
  visibility: hidden;
} */


}


/* max-width:320px ------------------------------ */

/* @media screen and (min-width: 329px) and(max-width: 480px){
  .navbar-toggler:not(:disabled):not(.disabled) {
    margin-top: 0px;
  }
} */




/* max-width:320px ------------------------------ */

@media screen and (max-width: 328px){
  .navbar-toggler:not(:disabled):not(.disabled) {
    margin-top: -54px;
  }
}
